@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    /* Colors */
    --primary-color: #3C60C3;
    --primary-color-darker: #1d3f9e;
    --primary-color-darkest: #0f2666;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 50px;
    background-color: var(--primary-color);
    font-family: "Open Sans", sans-serif;
}

main {
    display: flex;
    justify-content: center;
    width: 70%;
    /* margin-top: 12vh; */
}

h1 {
    font-size: 50px;
    color: #e01c1c;
}

p, label {
    font-size: 18px;
}

div label {
    display: block;
    font-weight: 600;
}

form input{
    margin: 10px 0;
    padding: 5px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #000;
    font-size: 1rem;
}

form button {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    background-color: var(--primary-color-darker);
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
}

form button:hover {
    background-color: var(--primary-color-darkest);
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
    appearance: none;
}

input[type=number] {
    appearance: textfield;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 50%;
    border-radius: 10px;
    padding: 30px;
    background-color: #fff;
}

.imc-table-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    margin: 15px 0 10px 0;
}

.imc-table-grid-column {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.imc-bad {
    background-color: #ff5151;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.imc-success {
    background-color: #2caa4b;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

#imc-form-section h2 {
    margin-bottom: 15px;
}

#result-div {
    margin-top: 15px;
}