:root {
    /* Color Pallete */
    --clr-primary: #21053b;
    --clr-secondary: #7858A6;
    --clr-tertiary: #5B4B8A;    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    width: 100%;
    background-color: var(--clr-primary);
}

header, footer {
    background-color: var(--clr-tertiary);
    padding: 10px 15px;
}

/* Custom classes */
.hoverable-link {
    color: #fff;
    font-weight: 500;
}

.hoverable-link:hover {
    color: #000;
}

/* Navbar */
.navbar-collapse {
    flex-grow: 0;
}

.navbar-brand {
    display: flex;
    justify-content: start;
    align-items: baseline;
    max-width: 140px;
    padding: 0;
}

.navbar-brand span {
    position: relative;
    bottom: 5px;
}

#brand-search-container {
    max-height: 40px;
    flex-grow: 1;
    gap: 10px;
}

#brand-search-container input {
    box-shadow: none;
}

#brand-search-container button {
    padding: 10px 5px;
}

/* Main */

#main-container {
    padding-top: 2.5rem;
    padding-bottom: 8rem;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer div {
    justify-content: center;
    gap: 5rem;
    max-height: 40px;
}